body {
  font-family: arial, sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 23px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 13px;
}

#navbar a, #navbar form {
  display: inline-block;
  vertical-align: middle;
}


#grid {
  background-image:url(./images/grid.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
  height: 12px;
  width: 12px;
  padding-right: 20px;
}

#footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #f2f2f2;
}

#footer a {
  font-size: 12px;
  padding-left: 20px;
  margin: 0;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #343536;
  padding: 8px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

#search-bar {
  margin-top: 25px;
  padding: 13px 13px 13px 50px;
  width: 550px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid rgb(228, 224, 224);
  font-size: 16px;
  background-image: url(./images/magnifying-glass.png);
  background-position: 17px 16px;
  background-repeat: no-repeat;
  background-size: 17px;
}

#search-bar:hover, #search-bar:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(233,225,229,0);
}

#logo {
  margin-top: 109px;
}

.buttons  {
  background-color: rgb(245, 240, 240);
  border-radius: 4px;
  border-color: transparent;
  line-height: 40px;
  padding: 0 16px;
  font-size: 14px;
  margin: 30px 5px;
  color: rgb(94, 92, 92);
}

.buttons:hover {
  color: black;
  border-color: rgb(207, 206, 206);
  cursor: pointer;
}

.buttons::-moz-focus-inner {
  border: 0;
}

.sign-in {
  background-color: #4386f9;
  border-radius: 1px;
  border-color: transparent;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  color: #fffbfb;
}

#center {
  text-align: center;
}
