body {
  font-family: Arial, sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 23px;
  margin-left: 17px;
  margin-right: 17px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #343536;
  padding: 8px;
}

a:hover {
  text-decoration: underline;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
