body {
  font-family: Arial, sans-serif;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 23px;
  margin-left: 17px;
  margin-right: 17px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #343536;
  padding: 8px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

#search-bar {
  margin-top: 25px;
  padding: 13px;
  width: 550px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid rgb(228, 224, 224);
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

#search-bar:hover, #search-bar:focus {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(233,225,229,0);
}

#logo {
  margin-top: 109px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
